legacy-files/
slides/
skeleton-tufte/
skeleton.bib
.RData
.Rhistory
.Rproj.user/
preamble.sty.aux
r-course-1920.Rproj


lecture-notes/lecture_notes_2021_cache/
lecture-notes/lecture_notes_2021_files
lecture-notes/skeleton*

exercises/hidden/
exercises/exercise-sheets/

data/mtcars.csv




*-blx.bib
*.asv
*.bib
*.sty
*.aux
*.bbl
*.bcf
*.bib_*.utf8
*.blg
*.dvi
*.ent
*.fff
*.fls
*.glo
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.mod
*.nav
*.o
*.out
*.pdfsync
*.prj
*.pyc
*.Rmd
*.run.xml
*.snm
*.sublime-*
*.svn
*.tmproj
*.toc
*.ttt
*.vrb
.waf*
waf-*
waf3-*
*latexmk
*synctex.gz
